@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-subtext: #663C1F;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(231 222 213);
    --foreground: #353535;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-global);
}

h1 {
  font-family: var(--font-playfair), serif;
}

.subtext {
  color: var(--color-subtext);
  font-family: var(--font-subtext);
  font-weight: 400;
}
